/*

0 - 600px:        Phone
600px - 900px:    Tablet (Potrait mode)
900px - 1200px:   Tablet (Landscape mode)
[1200 - 1800]:    Normal styles apply
1800+:            Large Desktop screens

$breakpoint argument choices:

- phone
- tab-port
- tab-land
- large-desk

1em = 16px
600px / 16px = 37.5em

*/
/* logo anim */
/* outdoor fades in from left */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* is where life happens fades in from right */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBtnBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* universal selector styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* site wide styles */
html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 1rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #35a8e0;
  color: #fff; }

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 9vw;
    font-weight: 400;
    color: #5F318A;
    letter-spacing: 2rem;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 13vw;
        letter-spacing: 1.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        padding-top: 11rem;
        padding-left: 10px;
        letter-spacing: 1.3rem;
        font-size: 6rem; } }
  .heading-primary--sub {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2vw;
    font-weight: 400;
    color: #35a8e0;
    letter-spacing: 1.2vw;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 3vw;
        letter-spacing: 1.6rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .9rem;
        padding-left: 11px; } }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #56b5e4, #196ca4);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
  font-family: 'Work Sans', sans-serif; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem;
      padding-top: 8rem;
      margin: 0 5.5rem 2rem 5.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.2rem;
      padding: 9rem 2rem 0 2rem;
      margin: 0; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px; }
  @media only screen and (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 2rem; } }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-contact {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-contact--main {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 9vw;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .heading-contact--main {
        font-size: 13vw;
        letter-spacing: 1.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-contact--main {
        padding-top: 11rem;
        padding-left: 10px;
        letter-spacing: 1.1rem;
        font-size: 6rem; } }

.u-center-text {
  text-align: center !important; }
  @media only screen and (max-width: 37.5em) {
    .u-center-text {
      padding-bottom: 40px !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 5rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-large {
      margin: 0 2rem !important; } }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-xlarge {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .4;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* Call out button styles and animation */
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.1rem 2rem;
  display: inline-block;
  border-radius: 5px;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  font-weight: 900;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #35a8e0;
  color: #fff; }
  .btn--green::after {
    background-color: #35a8e0; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--anim {
  animation: moveInBtnBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #35a8e0;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #35a8e0;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-5px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #5F318A, #3C144C); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #56b5e4, #196ca4); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #5F318A, #3C144C), url("../img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #56b5e4, #196ca4), url("../img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 14rem;
    right: 2rem;
    width: 70%; }
  .card__heading-span {
    padding: 1rem 3rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(95, 49, 138, 0.85), rgba(60, 20, 76, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(86, 181, 228, 0.85), rgba(25, 108, 164, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 2.5rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.8rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 2rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 5rem; } }

.composition {
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .composition {
      margin-top: 50px; } }
  @media only screen and (max-width: 37.5em) {
    .composition {
      margin-top: 40px;
      padding: 0 3rem; } }
  .composition__photo {
    width: 55%;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        padding-top: 8rem;
        width: 33.333333333%; } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 1rem;
          transform: scale(1.2); } }
      @media only screen and (max-width: 37.5em) {
        .composition__photo--p1 {
          top: 1rem;
          transform: scale(2.1); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
      @media only screen and (max-width: 37.5em) {
        .composition__photo--p2 {
          top: -10rem;
          transform: scale(2.2); } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.4); } }
      @media only screen and (max-width: 37.5em) {
        .composition__photo--p3 {
          top: 1rem;
          transform: scale(2.5); } }

.feature-box {
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  transition: transform .3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem;
      margin: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .feature-box {
      background-color: rgba(255, 255, 255, 0.95); } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 2.5rem;
    padding-top: 8px;
    display: inline-block;
    background-image: linear-gradient(to right top, #35a8e0, #5F318A);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 30px;
        margin-top: 20px; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__text {
    padding: 0rem; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__text {
        padding-top: 1rem;
        font-size: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .feature-box__text {
        font-size: 2rem; } }
    .feature-box__text ul {
      list-style: none; }
      .feature-box__text ul li {
        margin-bottom: 25px; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #35a8e0; }
  .form__input:focus:invalid {
    border-bottom: 3px solid red; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transform: translateY(-7.5rem);
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 2.8rem;
  width: 2.8rem;
  border: 5px solid #35a8e0;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: -.5em; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #35a8e0;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.modal-dialog {
  max-width: 500px;
  margin: 18rem 5rem; }

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #2998ff;
  border-top-left-radius: .3rem;
  border-top-right-radius: 0.3rem; }

.modal-title {
  font-size: 2.5rem;
  margin-left: 2.5rem;
  text-transform: uppercase; }

.close {
  font-size: 3.5rem;
  font-weight: 800;
  color: red;
  justify-content: end; }

.modal-header .close {
  padding: 1rem 1rem;
  margin: 0; }

.modal-paragraph {
  padding: 3rem;
  font-size: 2.2rem; }

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #2998ff;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem; }

.btn-secondary {
  margin: 10px;
  color: #fff;
  background-color: #2998ff;
  border-color: #6c757d; }

.btn-secondary:hover {
  color: #fff; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 22rem auto; } }

.story {
  width: 65%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(247, 247, 247, 0.85);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 75%;
      padding: 7.5rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0);
      width: 75%;
      padding: 3rem;
      padding-left: 3rem; } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg);
    text-align: justify;
    padding: 20px; }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        padding: 4px; } }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__quotes {
    padding-top: 20px;
    text-align: right; }
    @media only screen and (max-width: 37.5em) {
      .story__quotes {
        padding-top: 20px; } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(70%); }
  .story .ratings {
    display: flex;
    justify-content: flex-end;
    transform: skewX(12deg);
    margin-left: 50rem; }
    @media only screen and (max-width: 56.25em) {
      .story .ratings {
        display: inline-flex;
        transform: skewX(12deg);
        margin-left: 52.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .story .ratings {
        display: flex;
        transform: skewX(0);
        margin-left: 0; } }
    .story .ratings .quote {
      font-size: 1.3rem;
      color: #5F318A; }

.footer {
  background-color: #333;
  padding-top: 0;
  color: #f7f7f7;
  width: 100%; }
  .footer .footer-container {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-top: 3rem;
    padding-bottom: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .footer .footer-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding-bottom: 0; } }
    .footer .footer-container .footer-item1 .footer-list {
      list-style: none; }
      @media only screen and (max-width: 37.5em) {
        .footer .footer-container .footer-item1 .footer-list {
          display: flex;
          justify-content: center;
          margin: 5px; } }
      .footer .footer-container .footer-item1 .footer-list .footer-link {
        font-size: 1.5rem;
        padding-bottom: .5rem; }
        @media only screen and (max-width: 37.5em) {
          .footer .footer-container .footer-item1 .footer-list .footer-link {
            font-size: 1.1rem;
            margin-right: 1rem; } }
      .footer .footer-container .footer-item1 .footer-list .footer-link:link,
      .footer .footer-container .footer-item1 .footer-list .footer-link:visited {
        color: #f7f7f7;
        background-color: #333;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        transition: all .2s; }
      .footer .footer-container .footer-item1 .footer-list .footer-link:active,
      .footer .footer-container .footer-item1 .footer-list .footer-link:hover {
        color: #35a8e0;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
        transform: translateY(-3px) scale(1.3); }
    @media only screen and (max-width: 37.5em) {
      .footer .footer-container .footer-item2 {
        display: flex;
        justify-content: center;
        margin-top: 0; } }
    .footer .footer-container .footer-item2 .footer-logo img {
      width: 14rem; }
      @media only screen and (max-width: 37.5em) {
        .footer .footer-container .footer-item2 .footer-logo img {
          width: 11rem;
          margin-bottom: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer .footer-container .footer-item3 {
        display: none; } }
    .footer .footer-container .footer-item3 .footer-address > p {
      margin: 0; }
  .footer .copyright > p {
    text-align: center;
    margin: 0; }
  .footer .trademark > p {
    margin: 0;
    text-align: center;
    padding-bottom: .5rem;
    font-size: 5px;
    color: #666; }

.row {
  max-width: 110rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding-top: 10rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 70rem;
      padding-top: 60px;
      margin-bottom: 0; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: -100px;
          padding-bottom: 65px; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 85% !important;
        margin: 40px; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2* ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

/* header background image styles */
.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(25, 108, 164, 0.4)), url("../img/city_aerial.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* logo styles */
  /* call out styles */ }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(25, 108, 164, 0.4)), url("../img/city_aerial.jpg"); } }
  @media only screen and (max-width: 56.25em) {
    .header {
      height: 60vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 60vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .header__logo-box {
        position: absolute;
        top: 2rem;
        left: 2.5rem; } }
  .header__contact {
    position: absolute;
    top: 4rem;
    right: 4rem; }
    .header__contact a {
      text-decoration: none;
      font-family: 'Work Sans', sans-serif;
      font-size: 2rem;
      text-transform: uppercase;
      color: #2998ff; }
    @media only screen and (max-width: 37.5em) {
      .header__contact {
        position: absolute;
        top: 3rem;
        right: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__contact {
        position: absolute;
        top: 2rem;
        right: 3rem; } }
  .header__logo {
    height: 10.5rem; }
    @media only screen and (max-width: 56.25em) {
      .header__logo {
        height: 10rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__logo {
        height: 6rem; } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; } }

/* ----------------------------------------------- CONTACT PAGE */
.header-contact {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(25, 108, 164, 0.4)), url("../img/contact.jpeg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* logo styles */
  /* call out styles */ }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header-contact {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header-contact {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(25, 108, 164, 0.4)), url("../img/contact.jpeg"); } }
  @media only screen and (max-width: 56.25em) {
    .header-contact {
      height: 60vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%); } }
  @media only screen and (max-width: 37.5em) {
    .header-contact {
      height: 60vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%); } }
  .header-contact__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .header-contact__logo-box {
        position: absolute;
        top: 2rem;
        left: 2.5rem; } }
  .header-contact__contact {
    position: absolute;
    top: 4rem;
    right: 4rem; }
    .header-contact__contact a {
      text-decoration: none;
      font-family: 'Work Sans', sans-serif;
      font-size: 2rem;
      text-transform: uppercase;
      color: #2998ff; }
    @media only screen and (max-width: 37.5em) {
      .header-contact__contact {
        position: absolute;
        top: 1rem;
        right: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .header-contact__contact {
        position: absolute;
        top: 2rem;
        right: 3rem; } }
  .header-contact__logo {
    height: 10.5rem; }
    @media only screen and (max-width: 56.25em) {
      .header-contact__logo {
        height: 10rem; } }
    @media only screen and (max-width: 37.5em) {
      .header-contact__logo {
        height: 6rem; } }
  .header-contact__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .header-contact__text-box {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .header-contact__text-box {
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#3C144C, #56b5e4);
  z-index: 1000;
  transition: transform 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: .2rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 1.5rem;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  background-image: linear-gradient(112deg, transparent 0%, transparent 51%, #fff 51%);
  background-size: 225%;
  transition: all .4s; }
  @media only screen and (max-width: 56.25em) {
    .navigation__link:link, .navigation__link:visited {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 2rem; } }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #35a8e0;
  transform: translateY(-0.6rem) translateX(0.3rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3.5rem;
    height: 3px;
    border-radius: 15px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .3s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.grid-container {
  display: grid;
  grid-template-columns: 43vw auto;
  grid-template-rows: auto 42vh;
  grid-gap: 0 16px;
  justify-content: stretch;
  align-content: center;
  padding: 2rem 2rem 4rem; }
  @media only screen and (max-width: 37.5em) {
    .grid-container {
      padding: 0; } }
  .grid-container .grid-item1 {
    padding: 25px;
    font-size: 12px;
    text-align: justify; }
    .grid-container .grid-item1 h4 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 1.1rem;
      color: #3C144C; }
      @media only screen and (max-width: 37.5em) {
        .grid-container .grid-item1 h4 {
          font-size: 19px; } }
    .grid-container .grid-item1 p {
      margin-bottom: 2px;
      font-size: 14px; }
      @media only screen and (max-width: 37.5em) {
        .grid-container .grid-item1 p {
          font-size: 14px; } }
    .grid-container .grid-item1 a {
      font-size: 16px; }
    @media only screen and (max-width: 56.25em) {
      .grid-container .grid-item1 {
        padding: 4rem 6rem;
        grid-column: 1/3; } }
    @media only screen and (max-width: 37.5em) {
      .grid-container .grid-item1 {
        padding: 0rem 2rem 3rem;
        grid-column: 1/3; } }
  .grid-container .grid-item3 {
    padding: 0;
    font-size: 16px;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-column: 2/3;
    grid-row: 1/3;
    padding-right: 160px; }
    @media only screen and (max-width: 56.25em) {
      .grid-container .grid-item3 {
        grid-column: 1/3;
        padding: 0px 34px; } }
    @media only screen and (max-width: 37.5em) {
      .grid-container .grid-item3 {
        padding: 2rem 0;
        grid-column: 1/3;
        grid-row: 1/3; } }
  .grid-container .form-group {
    color: #35a8e0; }
    @media only screen and (max-width: 37.5em) {
      .grid-container .form-group {
        margin: 1rem 2.2rem; } }
    .grid-container .form-group .form-control {
      font-size: 1.5rem; }
  .grid-container .validation-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    padding-top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .grid-container .validation-grid-container {
        display: inline; } }
    @media only screen and (max-width: 37.5em) {
      .grid-container .validation-grid-container .validation-grid-item1 {
        padding: 2rem 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .grid-container .validation-grid-container .validation-grid-item2 {
        padding: 0 3rem; } }

.section-about {
  background-color: #f7f7f7;
  padding: 30rem 0;
  margin-top: -37vh; }
  .section-about div {
    padding-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .section-about div {
        padding-top: 0; } }
    @media only screen and (max-width: 37.5em) {
      .section-about div {
        padding-top: 0;
        padding-bottom: 40px; } }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 18rem 0;
      margin-top: -18vh; } }
  @media only screen and (max-width: 37.5em) {
    .section-about {
      padding: 14rem 2.2rem;
      margin-top: -21vh; } }

.section-features {
  padding: 8rem 0;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(25, 108, 164, 0.4)), url("../img/money-medium.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  margin-top: -21rem; }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 0;
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(25, 108, 164, 0.4)), url("../img/money-medium.jpg");
      -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
      margin-top: -8vh; } }
  @media only screen and (max-width: 37.5em) {
    .section-features {
      padding: 0;
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(25, 108, 164, 0.4)), url("../img/money-medium.jpg");
      -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
      margin-top: -16vh; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -18rem; }
  @media only screen and (max-width: 56.25em) {
    .section-tours {
      padding: 10rem 0 10rem 0; } }

.section-stories {
  position: relative;
  padding: 15rem 0;
  padding: 6rem 0 0 0;
  margin-top: -1vh; }
  .section-stories .row__aux {
    padding-top: 2rem;
    padding-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .section-stories .row__aux {
        padding-top: 2rem;
        padding-bottom: 5rem; } }
  .section-stories div .row {
    padding-top: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 1rem 0 3rem 0;
      margin-top: -2vh; } }
  @media only screen and (max-width: 37.5em) {
    .section-stories {
      margin-top: -6vh; } }

.section-contact {
  margin: 0;
  padding: 0;
  margin-top: -1vh; }
  @media only screen and (max-width: 56.25em) {
    .section-contact {
      margin-top: 3vh; } }
  @media only screen and (max-width: 37.5em) {
    .section-contact {
      margin-top: -1vh; } }

.section-privacy {
  margin: 0rem 6rem -2rem;
  padding: 2rem 10rem 3rem;
  margin-top: -1vh; }
  @media only screen and (max-width: 37.5em) {
    .section-privacy {
      margin: 0;
      padding: 2rem 4rem 3rem; } }
  .section-privacy__title {
    font-family: 'Work Sans', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-size: 5rem;
    padding-bottom: 1rem; }
  .section-privacy__heading {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    font-size: 2.125rem;
    padding-bottom: 1rem; }
  .section-privacy__paragraph {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 1.5rem;
    padding-bottom: 0.5rem; }
  .section-privacy__updated {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #777;
    font-size: 1rem; }

.section-terms {
  margin: 0rem 6rem -2rem;
  padding: 2rem 10rem 3rem;
  margin-top: -1vh; }
  @media only screen and (max-width: 37.5em) {
    .section-terms {
      margin: 0;
      padding: 2rem 4rem 3rem; } }
  .section-terms__title {
    font-family: 'Work Sans', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .section-terms__title {
        font-size: 3.7rem; } }
  .section-terms__terms {
    font-family: 'Work Sans', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 1rem; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #35a8e0;
  border-radius: 0; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5F318A;
  border-radius: 0; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3C144C; }

.accordion {
  max-width: 100%;
  margin: 0px auto;
  margin-top: 1rem; }

.accordion__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.accordion__item {
  border-bottom: 1px solid #000;
  visibility: hidden; }

.accordion__item:last-child {
  border-bottom: 0; }

.accordion__item.is-active .accordion__itemTitleWrap::after {
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%); }

.accordion__item.is-active .accordion__itemIconWrap {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.accordion__itemTitleWrap {
  display: flex;
  height: 2.5em;
  align-items: center;
  padding: 0 1em;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden; }

.accordion__itemTitleWrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: #3bade3;
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  z-index: 1;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease; }

.accordion__itemTitleWrap.is-active::after, .accordion__itemTitleWrap:hover::after {
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%); }

.accordion__itemIconWrap {
  width: 1.25em;
  height: 1.25em;
  margin-left: auto;
  position: relative;
  z-index: 10; }

.accordion__itemTitle {
  margin: 0;
  font-family: 'industry', sans-serif;
  font-weight: 300;
  font-size: 1em;
  position: relative;
  z-index: 10; }

.accordion__itemContent {
  font-size: 0.875em;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 0 1.25em; }

.accordion__itemContent p {
  margin: 2em 0; }
