.modal-dialog {
  max-width: 500px;
  margin: 18rem 5rem;
}


.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid $color-tertiary-light;
  border-top-left-radius: .3rem;
  border-top-right-radius: 0.3rem;
}

.modal-title {
  font-size: 2.5rem;
  margin-left: 2.5rem;
  text-transform: uppercase;
}

.close {
  font-size: 3.5rem;
  font-weight: 800;
  color: red;
  justify-content: end;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: 0;
}

.modal-paragraph {
  padding: 3rem;
  font-size: 2.2rem;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid $color-tertiary-light;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.btn-secondary {
  margin: 10px;
  color: #fff;
  background-color: $color-tertiary-light;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
}

@media (min-width: 576px) {
.modal-dialog {
    max-width: 500px;
    margin: 22rem auto;
  }
}